<div class="agileChart">
    <div cdkDropListGroup class="abilitylist5">

        <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()" class="abilitylist5-wrap"></div>

        <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()" *ngFor="let item of data" class="abilitylist5-wrap">
            <div cdkDrag (cdkDragMoved)="dragMoved($event);" class="abilitylist5-box" title="{{ item.abilityname }}">{{ item.abilityname }}</div>
        </div>
    </div>
  </div>
