<div class="agileChart">
    <div cdkDropListGroup class="abilitylist4">

        <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()" class="abilitylist4-wrap"></div>

        <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()" *ngFor="let item of data" class="abilitylist4-wrap">
            <div cdkDrag (cdkDragMoved)="dragMoved($event);" class="abilitylist4-box" title="{{ item.abilityname }}">{{ item.abilityname }}</div>
        </div>
    </div>
</div>
