<div class="content">
  <form #form="ngForm" nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{ 'Old Password' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="oldpassword" placeholder="" type="password" maxlength="50">
        <nz-form-explain *ngIf="validateForm.get('oldpassword').dirty&&validateForm.get('oldpassword').errors">
          <ng-container *ngIf="validateForm.get('oldpassword').hasError('required')">
            {{ 'Require Tip' | translate:{'field':txtOldPassword} }}
          </ng-container>
        </nz-form-explain>
      </nz-form-control> 
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>{{ 'New Password' | translate}}</nz-form-label>
      <div>
        <nz-form-control [nzSpan]="12">
          <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" maxlength="50">
          <nz-form-explain *ngIf="validateForm.get('password').dirty&&validateForm.get('password').hasError('required')">{{
            'Require Tip' | translate:{'field':txtNewPassword} }}</nz-form-explain>
        </nz-form-control>
      </div>
    </nz-form-item>
    <nz-form-item> 
      <nz-form-label [nzSpan]="7" nzRequired>{{ 'Confirm Password' | translate}}</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input type="password" formControlName="confirm" placeholder="" maxlength="50">
        <nz-form-explain *ngIf="validateForm.get('confirm').dirty&&validateForm.get('confirm').errors">
          <ng-container *ngIf="validateForm.get('confirm').hasError('required')">
            {{ 'Require Tip' | translate:{'field':txtConfirmPassword} }}
          </ng-container>
          <ng-container *ngIf="validateForm.get('confirm').hasError('confirm')">
            {{ 'Input Inconsistency' | translate:{'field1':txtNewPassword,'field2':txtConfirmPassword} }}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button (click)="submitForm($event,form)" nz-button [nzLoading]="saving" nzType="primary">
          <ng-container *ngIf="!saving">{{ 'Ok' | translate}}</ng-container>
          <ng-container *ngIf="saving">{{ 'Saving' | translate}}</ng-container>
        </button>&nbsp;&nbsp;
        <button nz-button (click)="cancelHandler()">{{ 'Cancel' | translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
